{% extends 'index.html' %}
{% block 'title' %}<title>News</title>{% endblock 'title' %}

{% block 'body' %}
<div class="container py-4">
  <h1 class="text-center py-3">Daily News</h1>
  <hr class="featurette-divider">
  {% for tit,desc,im,lis in mylist %}



  {% if lis %}
  <div class="row featurette">

    <div class="col-md-4 my-2">
      <h2 class="featurette-heading">{{tit}}
      </h2>
      <p class="lead">{{desc}}
      </p>
    </div>
    <div class="col-md-8 ">
      <img src="{{im}}" alt="image" style="width: 100%;">
    </div>
  </div>

  {% else %}
  <div class="row featurette">
    <div class="col-md-4 order-md-2">
      <h2 class="featurette-heading">{{tit}}</h2>
      <p class="lead">{{desc}}</p>
    </div>
    <div class="col-md-8 order-md-1">
      <img src="{{im}}" alt="image" style="width: 100%;">
    </div>
  </div>

  {% endif %}
  <hr class="featurette-divider">

  {% endfor %}



</div>
{% endblock 'body' %}